html {
  overflow: hidden;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: scroll;
}

#container {
  background: black;
  width: max-content;
  height: max-content;
  padding: 10em;
}

#canvas {
  width: 100em;
  height: 100em;
  background: white;
  border-spacing: 0;
  transition: all 0.2s ease-in-out;

  .cell.chosen {
    outline: 1px solid grey;
  }
}

#tool-box {
  position: absolute;
  bottom: 2em;
  width: max-content;
  height: max-content;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 100;
  border-radius: 10px;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  gap: 1em;

  #confirm-draw {
    outline: none;
    border: none;
    border-radius: 1em;
    background: black;
    cursor: pointer;
    color: white;
    font-weight: black;
    padding: 1em 2em;
    &:hover {
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
  }

  #colors {
    display: grid;
    grid-template-columns: repeat(7, 1.5em);
    width: 100%;
    gap: 0.5em;

    .color-block {
      width: 1.5em;
      height: 1.5em;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &.chosen,
      &:hover {
        outline: 2px solid rgba(0, 0, 0, 0.5);
      }
    }
  }
}
